@font-face {
    font-family: "Baloo 2", sans-serif;
    src: url("Baloo2-Medium.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.container-fluid {
    text-align: center;
    background-color: black;
    margin-top: 40px;
}

.center {
    background-color: rgb(150, 136, 161);
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 130px;
    padding-top: 100px;
    border-radius: 20%;
}

#header {
    color: rgb(150, 136, 161);
    font-family: "Baloo 2";
    font-size: larger;
    background-color: rgb(58, 56, 58);
    margin-top: 400px;
}

#header > h4 {
    font-size: large;
}

#header, #content button {
    color: rgb(150, 136, 161);
    font-family: 'Baloo 2';
}

#content {
    color: rgb(162, 151, 171);
    font-family: "Baloo 2";
    font-size: medium;
}

button {
    color:rgb(150, 136, 161);
    background-color: rgb(62, 60, 63);
    font-family: 'Baloo 2';
    font-size: medium;
    border-radius: 30%;
    border-color: rgb(137, 126, 146);
}

.box {
    background-color: rgb(62, 60, 63);
    border-radius: 10px;
    padding: 20px;
    border-color: rgb(150, 136, 161);
    width: 50%;
}
